<!-- views/partials/footer.ejs -->

        <div id="wb_footer_top">
                <div id="footer_top">
                   <div class="row">
                      <div class="col-1">
                         <div id="wb_Text1">
                            <span style="color:#FFFFFF;font-family:Arial;font-size:19px;"><strong>Municipalidad Socabaya - Arequipa</strong></span>
                         </div>
                         <div id="wb_Text2">
                            <span style="color:#FFFFFF;font-family:Arial;font-size:15px;"><strong>Av Union 316 • , Arequipa 04001<br>Teléfono: (054) 242124 • Lunes - Viernes, 7:30 am - 3:30 pm</strong></span>
                         </div>
                      </div>
                      <div class="col-2">
                      </div>
                      <div class="col-3">
                         <div id="wb_Text3">
                            <span style="color:#FFFFFF;font-family:Arial;font-size:19px;"><strong>Contactanos</strong></span>
                         </div>
                         <div id="wb_FontAwesomeIcon1" style="display:inline-block;width:16px;height:16px;text-align:center;z-index:17;">
                            <a href="./IniciarSesion.html"><div id="FontAwesomeIcon1"><i class="fa fa-facebook"></i></div></a>
                         </div>
                         <div id="wb_FontAwesomeIcon2" style="display:inline-block;width:16px;height:16px;text-align:center;z-index:18;">
                            <a href="./IniciarSesion.html"><div id="FontAwesomeIcon2"><i class="fa fa-twitter"></i></div></a>
                         </div>
                         <div id="wb_FontAwesomeIcon5" style="display:inline-block;width:16px;height:16px;text-align:center;z-index:19;">
                            <a href="./IniciarSesion.html"><div id="FontAwesomeIcon5"><i class="fa fa-youtube"></i></div></a>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div id="wb_footer_bottom">
                <div id="footer_bottom">
                   <div class="row">
                      <div class="col-1">
                         <hr id="indexLine1" style="display:block;width:100%;z-index:20;">
                         <div id="wb_Text6">
                            <span style="color:#A6AEB1;font-family:Arial;font-size:13px;"><strong>Copyright © Arequipa-Socabaya&nbsp; 2019. </strong></span>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             
