<!doctype html>
<html>

<head>
   <meta charset="utf-8">
   <title>Untitled Page</title>
   <meta name="generator" content="WYSIWYG Web Builder 14 - http://www.wysiwygwebbuilder.com">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="font-awesome.min.css" rel="stylesheet">
   <link href="munic.css" rel="stylesheet">
   <link href="/css/principal.css" rel="stylesheet">
   <script src="/js/jquery-1.12.4.min.js"></script>

   <script src="/js/Index.js"></script>
   </style>
   <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
   <link rel="stylesheet" href="/css/styles.css">
</head>

<body>



   <%- include('partials/navigator') %>
   <div class="col-md-10 mx-auto">
      <div class="card card-body ">
         <div class="row">
            <div class="col-md-1 text-center">
            
            </div>

            <div class="col-md-10 text-center">
                <div class="col-2-padding">
                    <div id="wb_LayoutGrid3">
                       <div id="LayoutGrid3">
                          <div class="row">
                             <div class="col-md-10">
                             </div>
                             <div class="col-md-1">
                                <label for="" id="Label2" style="display:block;width:100%;z-index:6;">Etapa :</label>
                             </div>
                             <div class="col-md-1">
                                <label for="" id="Label6" style="display:block;width:100%;z-index:7;">Evaluacion</label>
                             </div>
                          </div>
                       </div>
                    </div>
                    <div id="wb_contactText">
                       <span style="color:#2E8B57;font-family:Arial;font-size:32px;line-height:37px;"><strong>Asignar Evaluacion<br></strong></span><span style="color:#2E8B57;font-family:Arial;font-size:13px;line-height:16px;"><strong>Indique un dia&nbsp; disponible para la evaluacion.</strong></span>
                    </div>
                    <div id="wb_LayoutGrid2">
                       <div id="LayoutGrid2">
                          <div class="row">
                             <div class="col-md-6">
                                <div id="wb_Text22">
                                   <span style="color:#2E8B57;"><strong>Codigo de Tramite es:</strong></span>
                                </div>
                                <div id="wb_Text23">
                                   <span style="color:#2E8B57;"><strong>Tipo de Tramite :</strong></span>
                                </div>
                             </div>
                             <div class="col-md-6">
                                <input type="text" id="Editbox20" style="display:block;width:100%;height:32px;z-index:10;" name="email" value="111-000-112" disabled spellcheck="false" placeholder="Numero de Recibo de Pago">
                                <input type="text" id="Editbox19" style="display:block;width:100%;height:32px;z-index:11;" name="email" value="Tipo 1" disabled spellcheck="false" placeholder="Numero de Recibo de Pago">
                             </div>
                          </div>
                       </div>
                    </div>
                    <div id="wb_LayoutGrid1">
                       <div id="LayoutGrid1">
                          <div class="row">
                           
                             <div class="col-md-6">
                                <div id="wb_Text1">
                                   <span style="color:#000000;"><strong>Calendario</strong></span>
                                </div>
                                <input id="DatePicker1_input" name="DatePicker1" style="display:none" type="text" value="">
                                <div id="DatePicker1" style="display:inline-block;width:212px;height:197px;z-index:13;">
                                </div>
                             </div>
                             <div class="col-md-6">
                                <div id="wb_Text3">
                                   <span style="color:#000000;"><strong><br></strong>Asignar<br><br><br>1 de Mayo del 2019 3:00 p.m.</span>
                                </div>
                                <input type="submit" id="submitButton" onclick="ShowObjectWithEffect('wb_FontAwesomeIcon4', 1, '', 0);ShowObjectWithEffect('Label1', 1, '', 0);ShowObjectWithEffect('wb_Text3', 0, '', 0);ShowObjectWithEffect('submitButton', 0, '', 0);return false;" name="" value="ASIGNAR >>" style="display:block;width:100%;;height:39px;z-index:15;">
                                <label for="" id="Label1" style="display:none;width:100%;z-index:16;">Su evaluacion Fue Asignada con Exito</label>
                                <div id="wb_FontAwesomeIcon4" style="display:none;width:116px;height:108px;text-align:center;z-index:17;">
                                   <a href="#top" title="Top"><div id="FontAwesomeIcon4"><i class="fa fa-check-circle-o"></i></div></a>
                                </div>
                             </div>
                           
                          </div>
                       </div>
                    </div>
                    <input type="submit" id="Button2" onclick="window.location.href='./Real-Imprimir(emp).html';return false;" name="" value="Continuar" style="display:block;width:100%;;height:57px;z-index:22;">
                 </div>
                
               

            </div>
            <div class="col-md-1 text-center">
              
            </div>
            
         </div>
      </div>
   </div>
   </div>
</body>

</html>