<!doctype html>
</div>
<html>

<head>
    <meta charset="utf-8">
    <title>Untitled Page</title>
    <meta name="generator" content="WYSIWYG Web Builder 14 - http://www.wysiwygwebbuilder.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="font-awesome.min.css" rel="stylesheet">
    <link href="munic.css" rel="stylesheet">
    <link href="/css/principal.css" rel="stylesheet">
    <script src="/js/jquery-1.12.4.min.js"></script>

    <script src="/js/Index.js"></script>
    </style>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>



    <%- include('partials/navigator') %>
    <div class="col-md-10 mx-auto">
        <div class="card card-body ">
            <div class="row">
                <div class="col-md-1 text-center">

                </div>

                <div class="col-md-10 text-center">

                    <div class="col-2-padding">
                            <div id="wb_Heading4" style="display:inline-block;width:100%;z-index:5;">
                                    <h1 id="Heading4">Tipos Documentos</h1>
                                </div>
                        <div id="wb_LayoutGrid2">
                            <div id="LayoutGrid2">
                                <div class="row">
                                    <div class="col-md-4">

                                        <div id="wb_Heading5" style="display:inline-block;width:100%;z-index:0;">
                                            <h6 id="Heading5">&nbsp;</h6>
                                        </div>
                                        <div id="wb_Heading1" style="display:inline-block;width:100%;z-index:1;border: 3px solid rgb(7, 146, 7);padding: 20px 20px 20px 20px;">
                                            <h1 id="Heading1"><a href="./M-docDeclaracion.html">DECLARACION JURADA</a>
                                            </h1>
                                        </div>
                                        <img src="images/img0001.jpg" id="Banner4" alt=""
                                            style="border-width:0;display:inline-block;width:204px;height:31px;z-index:2;">
                                        <div id="wb_Heading8" style="display:inline-block;width:100%;z-index:3;border: 3px solid rgb(7, 146, 7);padding: 20px 20px 20px 20px;">
                                            <h1 id="Heading8"><a href="#"
                                                    onclick="window.location.href='./M-docDefensa.html';return false;">REGISTRO
                                                    DEFENSA CIVIL</a></h1>
                                        </div>
                                        <img src="images/img0011.jpg" id="Banner5" alt=""
                                            style="border-width:0;display:inline-block;width:204px;height:31px;z-index:4;">
                                    </div>
                                    <div class="col-md-4">
                                            <div id="wb_Heading5" style="display:inline-block;width:100%;z-index:0;">
                                                    <h6 id="Heading5">&nbsp;</h6>
                                                </div>
                                        <div id="wb_Heading2" style="display:inline-block;width:100%;z-index:6;border: 3px solid rgb(7, 146, 7);padding: 20px 20px 20px 20px;">
                                            <h1 id="Heading2"><a href="#"
                                                    onclick="window.location.href='./M-docLicencias.html';return false;">LICENCIAS</a>
                                            </h1>
                                        </div>
                                        <img src="images/img0002.jpg" id="Banner1" alt=""
                                            style="border-width:0;display:inline-block;width:204px;height:31px;z-index:7;">
                                        <img src="images/img0003.jpg" id="Banner2" alt=""
                                            style="border-width:0;display:inline-block;width:204px;height:31px;z-index:8;">
                                    </div>
                                    <div class="col-md-4">
                                        <div id="wb_Heading6" style="display:inline-block;width:100%;z-index:9;">
                                            <h6 id="Heading6">&nbsp;</h6>
                                        </div>
                                        <div id="wb_Heading3" style="display:inline-block;width:100%;z-index:10;border: 3px solid rgb(7, 146, 7);padding: 20px 20px 20px 20px;">
                                            <h1 id="Heading3"><a href="#"
                                                    onclick="window.location.href='./M-docCatastral.html';return false;">REGISTRO
                                                    CATASTRAL</a></h1>
                                        </div>
                                        <img src="images/img0004.jpg" id="Banner3" alt=""
                                            style="border-width:0;display:inline-block;width:204px;height:31px;z-index:11;">
                                        <div id="wb_Heading13" style="display:inline-block;width:100%;z-index:12;border: 3px solid rgb(7, 146, 7);padding: 20px 20px 20px 20px;">
                                            <h1 id="Heading13"><a href="#"
                                                    onclick="window.location.href='./M-docEvaluaciones.html';return false;">EVALUACIONES</a>
                                            </h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="submit" id="Button2"
                            onclick="window.location.href='./Menu-Principal.html';return false;" name="" value="Atras"
                            style="display:block;width:100%;;height:57px;z-index:14;">
                    </div>
                    <div class="col-md-1 text-center">

                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

</html>