<!doctype html>
<html>

<head>
   <meta charset="utf-8">
   <title>Untitled Page</title>
   <meta name="generator" content="WYSIWYG Web Builder 14 - http://www.wysiwygwebbuilder.com">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="font-awesome.min.css" rel="stylesheet">
   <link href="munic.css" rel="stylesheet">
   <link href="/css/principal.css" rel="stylesheet">
   <script src="/js/jquery-1.12.4.min.js"></script>

   <script src="/js/Index.js"></script>
   </style>
   <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
   <link rel="stylesheet" href="/css/styles.css">
</head>

<body>



   <%- include('partials/navigator') %>
   <div class="col-md-10 mx-auto">
      <div class="card card-body ">
         <div class="row">
            <div class="col-md-4 text-center">
               <div>
                  <a href="./realizartramite">
                     <img src="/img/realtra.png" id="PanelImage1" alt="" width="200" height="200">

               </div>
               <div id="wb_PanelText1">
                  <span style="color:#000000;font-family:Arial;font-size:21px;"><strong>Realizar Tramite<br></strong>
               </div>
            </div>

            <div class="col-md-4 text-center">
               <div>
                  <a href="./menudocumentos">
                     <img src="/img/registrar.png" id="PanelImage2" alt="" width="200" height="200">
                     </a>

               </div>
               <div id="wb_PanelText2">
                  <span style="color:#000000;font-family:Arial;font-size:24px;"><strong>Registrar Documentos</strong>
               </div>
            </div>
            <div class="col-md-4 text-center">
               <div>
                  <a href="./menuempleado">
                     <img src="/img/evaluacion.png" id="PanelImage3" alt="" width="200" height="200">

               </div>
               <div id="wb_PanelText3">
                  <span style="color:#000000;font-family:Arial;font-size:24px;"><strong>Evaluacion</strong>
               </div>
            </div>
            <div class="col-md-4 text-center">
               <div>
                  <a href="./menuempleado">
                     <img src="/img/termilicenci.png" id="PanelImage3" alt="" width="200" height="200">

               </div>
               <div id="wb_PanelText3">
                  <span style="color:#000000;font-family:Arial;font-size:24px;"><strong>Terminar
                        Licencia</strong>
               </div>
            </div>
            <div class="col-md-4 text-center">
               <div>
                  <a href="./menuempleado">
                     <img src="/img/mantenimi.png" id="PanelImage3" alt="" width="200" height="200">

               </div>
               <div id="wb_PanelText3">
                  <span style="color:#000000;font-family:Arial;font-size:24px;"><strong>Mantenimietno</strong>
               </div>
            </div>
            
            <div class="col-md-4 text-center">
               <div>
                  <a href="./menuempleado">
                     <img src="/img/busca.png" id="PanelImage3" alt="" width="200" height="200">

               </div>
               <div id="wb_PanelText3">
                  <span style="color:#000000;font-family:Arial;font-size:24px;"><strong>Realizar
                        Buscquedas</strong>
               </div>
            </div>
            <div class="col-md-4 text-center">
               <div>
                  <a href="./menuempleado">
                     <img src="/img/imprimir.png" id="PanelImage3" alt="" width="200" height="200">

               </div>
               <div id="wb_PanelText3">
                  <span style="color:#000000;font-family:Arial;font-size:24px;"><strong>Realizar
                        Buscquedas</strong>
               </div>
            </div>
            <div class="col-md-4 text-center">
               <div>
                  <a href="./menuempleado">
                     <img src="/img/repor.png" id="PanelImage3" alt="" width="200" height="200">

               </div>
               <div id="wb_PanelText3">
                  <span style="color:#000000;font-family:Arial;font-size:24px;"><strong>Realizar
                        Busquedas</strong>
               </div>
            </div>
            <div class="col-md-4 text-center">
                  <div>
                     <a href="./realizarpago">
                        <img src="/img/pagar.png" id="PanelImage3" alt="" width="200" height="200">
   
                  </div>
                  <div id="wb_PanelText3">
                     <span style="color:#000000;font-family:Arial;font-size:24px;"><strong>
                           Realizar Pagos</strong>
                  </div>
               </div>
         </div>
      </div>
   </div>
   </div>
</body>

</html>