<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Page</title>
<meta name="generator" content="WYSIWYG Web Builder 14 - http://www.wysiwygwebbuilder.com">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="font-awesome.min.css" rel="stylesheet">
<link href="munic.css" rel="stylesheet">
<link href="/css/principal.css" rel="stylesheet">
<script src="/js/jquery-1.12.4.min.js"></script>

<script src="/js/Index.js"></script>
</style>
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>



      <%- include('partials/navigator') %>
      <div class="col-md-10 mx-auto">
            <div class="card card-body ">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <div>
                            <a href="./Iniciar-Tramite(ciudadano).html">
                                <img src="/img/prin1.jpg" id="PanelImage1" alt="" width="200" height="200">
        
                        </div>
                        <div id="wb_PanelText1">
                            <span style="color:#000000;font-family:Arial;font-size:21px;"><strong>Iniciar
                                    Tramitacion<br></strong></span><span
                                style="color:#000000;font-family:Arial;font-size:11px;"><strong><br></strong></span><span
                                style="color:#000000;font-family:Arial;font-size:15px;">Inicia tu tramitacion de forma online de
                                una manera facil y rapida.<br></span><span
                                style="color:#000000;font-family:Arial;font-size:17px;"><strong>(La Tramitacion Online solo esta
                                    habilitada para la Licencia Categoria A)</strong></span>
                        </div>
                    </div>
        
                    <div class="col-md-4 text-center">
                        <div>
                            <a href="./Iniciar-Tramite(ciudadano).html">
                                <img src="/img/prin2.jpg" id="PanelImage2" alt="" width="200" height="200">
        
                        </div>
                        <div id="wb_PanelText2">
                            <span style="color:#000000;font-family:Arial;font-size:24px;"><strong>Seguimiento de tu
                                    Tramitacion</strong></span><span
                                style="color:#000000;font-family:Arial;font-size:21px;"><strong><br></strong></span><span
                                style="color:#000000;font-family:Arial;font-size:11px;"><strong><br></strong></span><span
                                style="color:#000000;font-family:Arial;font-size:15px;"><br>Verifica como se encuentra tu
                                tramite.</span>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div>
                            <a href="./Iniciar-Tramite(ciudadano).html">
                                <img src="/img/prin3.jpg" id="PanelImage3" alt="" width="200" height="200">
        
                        </div>
                        <div id="wb_PanelText3">
                            <span style="color:#000000;font-family:Arial;font-size:24px;"><strong>Enterate de los Requisitos
                                    Necesarios para tu Tramitacion</strong></span><span
                                style="color:#000000;font-family:Arial;font-size:21px;"><strong><br></strong></span><span
                                style="color:#000000;font-family:Arial;font-size:11px;"><strong><br></strong></span><span
                                style="color:#5B7B9D;font-family:Arial;font-size:15px;"><strong><br></strong></span><span
                                style="color:#000000;font-family:Arial;font-size:15px;"><br>Ve los requisitos para&nbsp; el
                                proceso de tramitacion de licencias de funcionamiento.</span>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
</body>
</html>