<!doctype html>
<html>

<head>
   <meta charset="utf-8">
   <title>Untitled Page</title>
   <meta name="generator" content="WYSIWYG Web Builder 14 - http://www.wysiwygwebbuilder.com">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="font-awesome.min.css" rel="stylesheet">
   <link href="munic.css" rel="stylesheet">
   <link href="/css/principal.css" rel="stylesheet">
   <script src="/js/jquery-1.12.4.min.js"></script>

   <script src="/js/Index.js"></script>
   </style>
   <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
   <link rel="stylesheet" href="/css/styles.css">
</head>

<body>



   <%- include('partials/navigator') %>
   <div class="col-md-10 mx-auto">
      <div class="card card-body ">
         <div class="row">
            <div class="col-md-1 text-center">
            
            </div>

            <div class="col-md-10 text-center">
              
                
                    <div class="col-2-padding">
                       <div id="wb_LayoutGrid3">
                          <div id="LayoutGrid3">
                             <div class="row">
                                <div class="col-md-10">
                                </div>
                                <div class="col-md-1">
                                   <label for="" id="Label1" style="display:block;width:100%;z-index:12;">Etapa :</label>
                                </div>
                                <div class="col-md-1">
                                   <label for="" id="Label6" style="display:block;width:100%;z-index:13;">Registro</label>
                                </div>
                             </div>
                          </div>
                       </div>
                       <div id="wb_Text7">
                          <span style="color:#2E8B57;font-family:Arial;font-size:32px;line-height:37px;"><strong>Registro Datos del Tramite</strong></span><span style="color:#2E8B57;font-family:Arial;font-size:13px;line-height:16px;"><br></span><span style="color:#2E8B57;font-family:Arial;font-size:15px;line-height:16px;">Ingrese sus datos completos.</span>
                       </div>
                       <div id="wb_LayoutGrid4">
                          <div id="LayoutGrid4">
                             <div class="row">
                                <div class="col-md-6">
                                   <div id="wb_Text22">
                                      <span style="color:#2E8B57;"><strong>Codigo de Tramite es:</strong></span>
                                   </div>
                                   <div id="wb_Text23">
                                      <span style="color:#2E8B57;"><strong>Tipo de Tramite :</strong></span>
                                   </div>
                                </div>
                                <div class="col-md-6">
                                   <input type="text" id="Editbox20" style="display:block;width:100%;height:32px;z-index:16;" name="email" value="111-000-112 (AutoGenerado)" disabled spellcheck="false" placeholder="Numero de Recibo de Pago">
                                   <input type="text" id="Editbox19" style="display:block;width:100%;height:32px;z-index:17;" name="email" value="Tipo 1" disabled spellcheck="false" placeholder="Numero de Recibo de Pago">
                                </div>
                             </div>
                          </div>
                       </div>
                       <div id="wb_LayoutGrid1">
                          <div id="LayoutGrid1">
                             <div class="row">
                                <div class="col-md-6">
                                   <div id="wb_Text21">
                                      <span style="color:#2E8B57;"><strong>I.TIPO DE LICENCIA MUNICIPAL O TRAMITE QUE SE SOLICITA</strong></span>
                                   </div>
                                   <select name="Combobox5" size="1" id="Combobox5" style="display:block;width:100%;height:28px;z-index:19;">
                                      <option>DEFINITIVA</option>
                                      <option>DUPLICADO</option>
                                      <option>CANCELACION</option>
                                      <option>TEMPORAL</option>
                                   </select>
                                   <div id="wb_Text26">
                                      <span style="color:#2E8B57;"><strong>TIPO DE PERSONA</strong></span>
                                   </div>
                                   <select name="Combobox5" size="1" id="Combobox6" style="display:block;width:100%;height:28px;z-index:21;">
                                      <option>NATURAL</option>
                                      <option>DUPLICADO</option>
                                      <option>CANCELACION</option>
                                      <option>TEMPORAL</option>
                                   </select>
                                   <div id="wb_Text27">
                                      <span style="color:#2E8B57;"><strong>II. IDENTIFICACION DEL SOLICITANTE</strong></span>
                                   </div>
                                   <div id="wb_Text12">
                                      <span style="color:#2E8B57;"><strong>Ingrese Nombres</strong></span>
                                   </div>
                                   <input type="text" id="Editbox6" style="display:block;width:100%;height:34px;z-index:24;" name="Editbox2" value="" spellcheck="false">
                                   <div id="wb_Text19">
                                      <span style="color:#2E8B57;"><strong>Ingrese Apellidos</strong></span>
                                   </div>
                                   <input type="text" id="Editbox15" style="display:block;width:100%;height:34px;z-index:26;" name="Editbox2" value="" spellcheck="false">
                                   <div id="wb_Text4">
                                      <span style="color:#2E8B57;"><strong>Nº RUC</strong></span>
                                   </div>
                                   <input type="text" id="Editbox11" style="display:block;width:100%;height:34px;z-index:28;" name="Editbox2" value="" spellcheck="false">
                                   <div id="wb_Text5">
                                      <span style="color:#2E8B57;"><strong>Nombres Representante -Apoderado</strong></span>
                                   </div>
                                   <input type="text" id="Editbox3" style="display:block;width:100%;height:34px;z-index:30;" name="Editbox2" value="" spellcheck="false">
                                   <div id="wb_Text8">
                                      <span style="color:#2E8B57;"><strong>Apellidos Representante -Apoderado</strong></span>
                                   </div>
                                   <input type="text" id="Editbox2" style="display:block;width:100%;height:34px;z-index:32;" name="Editbox2" value="" spellcheck="false">
                                   <div id="wb_Text14">
                                      <span style="color:#2E8B57;"><strong>Tipo Documento</strong></span>
                                   </div>
                                   <select name="Combobox5" size="1" id="Combobox2" style="display:block;width:100%;height:28px;z-index:34;">
                                      <option selected>DNI</option>
                                      <option>Carnet Extranjeria</option>
                                   </select>
                                   <div id="wb_Text6">
                                      <span style="color:#2E8B57;"><strong>Nº Documento</strong></span>
                                   </div>
                                   <input type="text" id="Editbox4" style="display:block;width:100%;height:34px;z-index:36;" name="Editbox2" value="" spellcheck="false">
                                   <div id="wb_Text9">
                                      <span style="color:#2E8B57;"><strong>Nº Telefono</strong></span>
                                   </div>
                                   <input type="text" id="Editbox5" style="display:block;width:100%;height:34px;z-index:38;" name="Editbox2" value="" spellcheck="false">
                                   <div id="wb_Text10">
                                      <span style="color:#2E8B57;"><strong>Correo Electronico</strong></span>
                                   </div>
                                   <input type="text" id="Editbox7" style="display:block;width:100%;height:34px;z-index:40;" name="Editbox2" value="" spellcheck="false">
                                </div>
                                <div class="col-md-6">
                                   <div id="wb_Text11">
                                      <span style="color:#2E8B57;"><strong>III. IDENTIFICACION DEL ESTABLECIMIENTO</strong></span>
                                   </div>
                                   <div id="wb_Text2">
                                      <span style="color:#2E8B57;"><strong>Nombre de Local</strong></span>
                                   </div>
                                   <input type="text" id="Editbox8" style="display:block;width:100%;height:34px;z-index:57;" name="Editbox2" value="" spellcheck="false">
                                   <div id="wb_Text3">
                                      <span style="color:#2E8B57;"><strong>Rubro-Giro-Actividad</strong></span>
                                   </div>
                                   <select name="Combobox1" size="1" id="Combobox1" style="display:block;width:100%;height:33px;z-index:59;">
                                      <option>Farmacia</option>
                                      <option>Tienda de Abarrotes</option>
                                      <option>Oficina</option>
                                      <option>Restaurant</option>
                                      <option>Laboratorio</option>
                                   </select>
                                   <div id="wb_Text13">
                                      <span style="color:#2E8B57;"><strong>Area ocupada m2</strong></span>
                                   </div>
                                   <div id="wb_Spinner1" style="display:inline-block;width:100%;z-index:61;">
                                      <input type="text" id="Spinner1" style="width:74px;height:24px;line-height:24px;" name="Spinner1" value="1">
                                   </div>
                                   <div id="wb_Text15">
                                      <span style="color:#2E8B57;"><strong>Direccion / Calle/Avenida/Pasaje</strong></span>
                                   </div>
                                   <input type="text" id="Editbox9" style="display:block;width:100%;height:34px;z-index:63;" name="Editbox2" value="" spellcheck="false">
                                   <table style="display:table;width:100%;height:66px;z-index:64;" id="Table1">
                                      <tr>
                                         <td class="cell0"><span style="color:#2E8B57;font-family:Arial;font-size:13px;line-height:16px;"><strong> Numero</strong></span></td>
                                         <td class="cell0"><span style="color:#000000;font-family:Arial;font-size:13px;line-height:16px;"> </span><span style="color:#2E8B57;font-family:Arial;font-size:13px;line-height:16px;"><strong>Interior</strong></span></td>
                                         <td class="cell0"><span style="color:#2E8B57;font-family:Arial;font-size:13px;line-height:16px;"><strong> Mz</strong></span></td>
                                         <td class="cell0"><span style="color:#000000;font-family:Arial;font-size:13px;line-height:16px;"> </span><span style="color:#2E8B57;font-family:Arial;font-size:13px;line-height:16px;"><strong>Lote</strong></span></td>
                                      </tr>
                                      <tr>
                                         <td class="cell1"><input type="text" id="Editbox10" style="display:block;width:100%;height:34px;z-index:41;" name="Editbox2" value="" spellcheck="false">
                                         </td>
                                         <td class="cell1"><input type="text" id="Editbox12" style="display:block;width:100%;height:34px;z-index:42;" name="Editbox2" value="" spellcheck="false">
                                         </td>
                                         <td class="cell1"><input type="text" id="Editbox13" style="display:block;width:100%;height:34px;z-index:43;" name="Editbox2" value="" spellcheck="false">
                                         </td>
                                         <td class="cell1"><input type="text" id="Editbox14" style="display:block;width:100%;height:34px;z-index:44;" name="Editbox2" value="" spellcheck="false">
                                         </td>
                                      </tr>
                                   </table>
                                   <div id="wb_Text16">
                                      <span style="color:#2E8B57;"><strong>Urb</strong></span>
                                   </div>
                                   <input type="text" id="Editbox16" style="display:block;width:100%;height:34px;z-index:66;" name="Editbox2" value="" spellcheck="false">
                                   <div id="wb_Text17">
                                      <span style="color:#2E8B57;"><strong>IV.-DOCUMENTOS QUE SE ANEXAN A LA SOLICITUD:</strong></span>
                                   </div>
                                   <table style="display:table;width:100%;height:176px;z-index:68;" id="Table2">
                                      <tr>
                                         <td class="cell0"><span style="color:#333333;font-family:Arial;font-size:13px;line-height:16px;"><strong>Declaración jurada de observancia de seguridad</strong></span></td>
                                         <td class="cell1"><div id="wb_Checkbox1" style="display:inline-block;width:22px;height:23px;z-index:45;">
                                               <input type="checkbox" id="Checkbox1" name="Checkbox1" value="on" checked style="display:inline-block;"><label for="Checkbox1"></label>
                                            </div>
                                         </td>
                                      </tr>
                                      <tr>
                                         <td class="cell2"><span style="color:#333333;font-family:Arial;font-size:13px;line-height:16px;"><strong>Copia simple del título profesional.</strong></span></td>
                                         <td class="cell3"><div id="wb_Checkbox2" style="display:inline-block;width:22px;height:23px;z-index:46;">
                                               <input type="checkbox" id="Checkbox2" name="Checkbox1" value="on" checked style="display:inline-block;"><label for="Checkbox2"></label>
                                            </div>
                                         </td>
                                      </tr>
                                      <tr>
                                         <td class="cell2"><span style="color:#333333;font-family:Arial;font-size:13px;line-height:16px;"><strong>Vigencia de poder</strong></span></td>
                                         <td class="cell3"><div id="wb_Checkbox3" style="display:inline-block;width:22px;height:23px;z-index:47;">
                                               <input type="checkbox" id="Checkbox3" name="Checkbox1" value="on" checked style="display:inline-block;"><label for="Checkbox3"></label>
                                            </div>
                                         </td>
                                      </tr>
                                      <tr>
                                         <td class="cell2"><span style="color:#333333;font-family:Arial;font-size:13px;line-height:16px;"><strong>Carta poder con firma legalizada</strong></span></td>
                                         <td class="cell3"><div id="wb_Checkbox4" style="display:inline-block;width:22px;height:23px;z-index:48;">
                                               <input type="checkbox" id="Checkbox4" name="Checkbox1" value="on" checked style="display:inline-block;"><label for="Checkbox4"></label>
                                            </div>
                                         </td>
                                      </tr>
                                   </table>
                                   <div id="wb_Text18">
                                      <span style="color:#2E8B57;"><strong>V.-AUTORIZACION:</strong></span>
                                   </div>
                                   <table style="display:table;width:100%;height:202px;z-index:70;" id="Table3">
                                      <tr>
                                         <td class="cell0"><span style="color:#333333;font-family:Arial;font-size:13px;line-height:16px;"><strong>OSINERMING</strong></span></td>
                                         <td class="cell1"><div id="wb_Checkbox5" style="display:inline-block;width:20px;height:23px;z-index:49;">
                                               <input type="checkbox" id="Checkbox5" name="Checkbox1" value="on" checked style="display:inline-block;"><label for="Checkbox5"></label>
                                            </div>
                                         </td>
                                      </tr>
                                      <tr>
                                         <td class="cell2"><span style="color:#333333;font-family:Arial;font-size:13px;line-height:16px;"><strong>Ministerio de Educación (Instituciones Educativas</strong></span></td>
                                         <td class="cell3"><div id="wb_Checkbox6" style="display:inline-block;width:20px;height:23px;z-index:50;">
                                               <input type="checkbox" id="Checkbox6" name="Checkbox1" value="on" checked style="display:inline-block;"><label for="Checkbox6"></label>
                                            </div>
                                         </td>
                                      </tr>
                                      <tr>
                                         <td class="cell2"><span style="color:#333333;font-family:Arial;font-size:13px;line-height:16px;"><strong>DIRESA</strong></span></td>
                                         <td class="cell3"><div id="wb_Checkbox7" style="display:inline-block;width:20px;height:23px;z-index:51;">
                                               <input type="checkbox" id="Checkbox7" name="Checkbox1" value="on" checked style="display:inline-block;"><label for="Checkbox7"></label>
                                            </div>
                                         </td>
                                      </tr>
                                      <tr>
                                         <td class="cell2"><span style="color:#333333;font-family:Arial;font-size:13px;line-height:16px;"><strong>Dirección Ejecutiva de medicamentos,Insumos y Drogas DIREMID / MINSA</strong></span></td>
                                         <td class="cell3"><div id="wb_Checkbox8" style="display:inline-block;width:20px;height:23px;z-index:52;">
                                               <input type="checkbox" id="Checkbox8" name="Checkbox1" value="on" checked style="display:inline-block;"><label for="Checkbox8"></label>
                                            </div>
                                         </td>
                                      </tr>
                                   </table>
                                   <div id="wb_Text20">
                                      <span style="color:#2E8B57;"><strong>VI.-HORARIO</strong></span>
                                   </div>
                                   <table style="display:table;width:100%;height:50px;z-index:72;" id="Table4">
                                      <tr>
                                         <td class="cell0"><input type="text" id="Editbox18" style="display:block;width:100%;height:34px;z-index:53;" name="Editbox2" value="" spellcheck="false" placeholder="Desde:">
                                         </td>
                                         <td class="cell0"><input type="text" id="Editbox17" style="display:block;width:100%;height:34px;z-index:54;" name="Editbox2" value="" spellcheck="false" placeholder="Hasta:">
                                         </td>
                                      </tr>
                                   </table>
                                </div>
                             </div>
                          </div>
                       </div>
                       <input type="submit" id="Button2" onclick="window.location.href='./AsignarEvaluacion.html';return false;" name="" value="Registrar y continuar con el Tramite" style="display:block;width:100%;;height:37px;z-index:77;">
                       <input type="submit" id="Button1" onclick="window.location.href='./Menu-Principal.html';return false;" name="" value="Atras" style="display:block;width:100%;;height:57px;z-index:78;">
                       <label for="" id="Label7" style="display:block;width:100%;z-index:79;">Evaluacion</label>
                       <label for="" id="Label8" style="display:block;width:100%;z-index:80;">Termino</label>
                    </div>
                 </div>

          
            <div class="col-md-1 text-center">
              
            </div>
            
         </div>
      </div>
   </div>
   </div>
</body>

</html>