
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Login Register</title>
   <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
   <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
   <link href="munic.css" rel="stylesheet">
   <link href="/css/IniciarSesion.css" rel="stylesheet">

   <script src="/js/IniciarSesion.js"></script>
   <style>

   </style>
   <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
   <link rel="stylesheet" href="/css/styles.css">

</head>

<body>



   <%- include('partials/navigator') %>



   <div class="wb_contact">
      <div class="container p-15">
         <div class="row">
            <div class="col-md-4 mx-auto">
               <div class="card text-center">
                  <div class="card-body text-dark display-5">
                     <div class="col-15-padding">
                        <div id="wb_contactText">
                           <span
                              style="color:#2E8B57;font-family:Arial;font-size:32px;line-height:37px;"><strong>Registrate<br></strong></span><span
                              style="color:#2E8B57;font-family:Arial;font-size:13px;line-height:16px;"><br></span><span
                              style="color:#2E8B57;font-family:Arial;font-size:15px;line-height:16px;">Ingrese sus datos</span>

                        </div>
                        <% if(message.length > 0) { %>
                           <div class="alert alert-danger"><%= message %></div>
                           <% } %>
                        <form action="/signup" method="post">
                           Nombres
                           <input type="text" id="email" style="display:block;width:100%;height:34px;z-index:1;"
                              name="nombres" value="" spellcheck="false" placeholder="nombres"autocomplete="off"required>
                           Apellidos
                           <input type="text" id="Editbox1" style="display:block;width:100%;height:34px;z-index:2;"
                              name="apellidos" value="" spellcheck="false" placeholder="apellidos"autocomplete="off"required>
                           Direccion
                           <input type="text" id="Editbox1" style="display:block;width:100%;height:34px;z-index:2;"
                              name="direccion" value="" spellcheck="false" placeholder="direccion"autocomplete="off"required>
                           Fecha de Nacimiento
                           <input type="date" id="Editbox1" style="display:block;width:100%;height:34px;z-index:2;"
                              name="fechanacimiento" value="" spellcheck="false" placeholder="fecha nacimiento"autocomplete="off"required>
                           RUC
                           <input type="text" id="Editbox1" style="display:block;width:100%;height:34px;z-index:2;"
                              name="ruc" value="" spellcheck="false" placeholder="ruc"
                              onkeypress="return justNumbers(event);" maxlength="10" step="1"autocomplete="off"required>
                           <script>
                              function justNumbers(e) {
                                 var keynum = window.event ? window.event.keyCode : e.which;
                                 if ((keynum == 8) || (keynum == 46))
                                    return true;

                                 return /\d/.test(String.fromCharCode(keynum));
                              }</script>
                           DNI
                           <input type="text" id="Editbox1" style="display:block;width:100%;height:34px;z-index:2;"
                              name="dni" value="" onkeypress="return justNumbers(event);" spellcheck="false"
                              placeholder="dni" maxlength="8" step="1" pattern="\d+"autocomplete="off"required>
                           Usuario
                           <input type="text" id="Editbox1" style="display:block;width:100%;height:34px;z-index:2;"
                              name="username" value="" spellcheck="false" placeholder="usuario"required>
                           Contraseña
                           <input type="text" id="Editbox1" style="display:block;width:100%;height:34px;z-index:2;"
                              name="password" value="" spellcheck="false" placeholder="contrase&#241;a"autocomplete="off"required>


                           <input type="submit" class="btn btn-lg btn-success" value="Entrar (empleado)"
                              style="display:block;width:100%;;height:39px;z-index:3;">

                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="overlay"></div>


</body>

</html>