body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #2E8B57;
   background-image: none;
   border: 1px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2, #LayoutGrid1 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2, #LayoutGrid1 > .row > .col-3
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 8.33333333%;
   text-align: left;
}
#LayoutGrid1 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 83.33333333%;
   text-align: left;
}
#LayoutGrid1 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 8.33333333%;
   text-align: left;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2, #LayoutGrid1 > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1
{
   font-family: Arial;
   font-weight: normal;
   font-size: 27px;
   line-height: 30px;
}
#wb_Text1 div
{
   text-align: left;
   white-space: nowrap;
}
#wb_LayoutGrid7
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: url(/img/slider-2-1920x729.jpg);
   background-repeat: repeat;
   background-position: center center;
   background-attachment: fixed;
   background-size: cover;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid7
{
   box-sizing: border-box;
   padding: 125px 15px 125px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#LayoutGrid7 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid7 > .row > .col-1, #LayoutGrid7 > .row > .col-2, #LayoutGrid7 > .row > .col-3, #LayoutGrid7 > .row > .col-4, #LayoutGrid7 > .row > .col-5
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid7 > .row > .col-1, #LayoutGrid7 > .row > .col-2, #LayoutGrid7 > .row > .col-3, #LayoutGrid7 > .row > .col-4, #LayoutGrid7 > .row > .col-5
{
   float: left;
}
#LayoutGrid7 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 8.33333333%;
   text-align: center;
}
#LayoutGrid7 > .row > .col-2
{
   background-color: #FFFFFF;
   background: linear-gradient(to bottom, #FFFFFF 0%, rgba(255,255,255,0.12) 100%);
   border: 0px solid #FFFFFF;
   border-radius: 4px;
   width: 25%;
   text-align: center;
}
#LayoutGrid7 > .row > .col-2 > .col-2-padding
{
   padding: 50px 25px 50px 25px;
}
#LayoutGrid7 > .row > .col-3
{
   background-color: #FFFFFF;
   background: linear-gradient(to bottom, #FFFFFF 0%, rgba(255,255,255,0.12) 100%);
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid7 > .row > .col-3 > .col-3-padding
{
   padding: 70px 25px 50px 25px;
}
#LayoutGrid7 > .row > .col-4
{
   background-color: #FFFFFF;
   background: linear-gradient(to bottom, #FFFFFF 0%, rgba(255,255,255,0.12) 100%);
   border: 0px solid #FFFFFF;
   border-radius: 4px;
   width: 25%;
   text-align: center;
}
#LayoutGrid7 > .row > .col-4 > .col-4-padding
{
   padding: 70px 25px 50px 25px;
}
#LayoutGrid7 > .row > .col-5
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 8.33333333%;
   text-align: left;
}
#LayoutGrid7:before,
#LayoutGrid7:after,
#LayoutGrid7 .row:before,
#LayoutGrid7 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid7:after,
#LayoutGrid7 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid7 > .row > .col-1, #LayoutGrid7 > .row > .col-2, #LayoutGrid7 > .row > .col-3, #LayoutGrid7 > .row > .col-4, #LayoutGrid7 > .row > .col-5
{
   float: none;
   width: 100% !important;
}
}
#LayoutGrid7-overlay
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: linear-gradient(to top, #FFFFFF 0%, rgba(255,255,255,0.00) 100%);
}
#wb_Text43 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text43
{
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
   line-height: 16px;
}
#wb_Text43 div
{
   text-align: left;
   white-space: nowrap;
}
#wb_icon-system
{
   background-color: rgba(255,255,255,0.00);
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 10px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_icon-system:hover
{
   background-color: #228B22;
   background-image: none;
   border: 0px solid #228B22;
}
#icon-system
{
   height: 102px;
   width: 162px;
}
#icon-system i
{
   color: #228B22;
   display: inline-block;
   font-size: 102px;
   line-height: 102px;
   vertical-align: middle;
   width: 108px;
}
#wb_icon-system:hover i
{
   color: #FFFFFF;
}
#wb_icon-devices
{
   background-color: rgba(255,255,255,0.00);
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 6px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_icon-devices:hover
{
   background-color: #228B22;
   background-image: none;
   border: 0px solid #228B22;
}
#icon-devices
{
   height: 100px;
   width: 182px;
}
#icon-devices i
{
   color: #228B22;
   display: inline-block;
   font-size: 100px;
   line-height: 100px;
   vertical-align: middle;
   width: 106px;
}
#wb_icon-devices:hover i
{
   color: #FFFFFF;
}
#wb_text-devices 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_text-devices div
{
   text-align: center;
   white-space: nowrap;
}
#wb_icon-apps
{
   background-color: rgba(255,255,255,0.00);
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 6px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_icon-apps:hover
{
   background-color: #228B22;
   background-image: none;
   border: 0px solid #228B22;
}
#icon-apps
{
   height: 102px;
   width: 162px;
}
#icon-apps i
{
   color: #228B22;
   display: inline-block;
   font-size: 102px;
   line-height: 102px;
   vertical-align: middle;
   width: 101px;
}
#wb_icon-apps:hover i
{
   color: #FFFFFF;
}
#wb_text-apps 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_text-apps div
{
   text-align: center;
   white-space: nowrap;
}
#wb_icon-time
{
   background-color: rgba(255,255,255,0.00);
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 6px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_icon-time:hover
{
   background-color: #228B22;
   background-image: none;
   border: 0px solid #228B22;
}
#icon-time
{
   height: 102px;
   width: 162px;
}
#icon-time i
{
   color: #228B22;
   display: inline-block;
   font-size: 102px;
   line-height: 102px;
   vertical-align: middle;
   width: 101px;
}
#wb_icon-time:hover i
{
   color: #FFFFFF;
}
#wb_text-time 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_text-time div
{
   text-align: center;
   white-space: nowrap;
}
#wb_icon-privacy
{
   background-color: rgba(255,255,255,0.00);
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 6px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_icon-privacy:hover
{
   background-color: #228B22;
   background-image: none;
   border: 0px solid #228B22;
}
#icon-privacy
{
   height: 102px;
   width: 162px;
}
#icon-privacy i
{
   color: #228B22;
   display: inline-block;
   font-size: 102px;
   line-height: 102px;
   vertical-align: middle;
   width: 115px;
}
#wb_icon-privacy:hover i
{
   color: #FFFFFF;
}
#wb_text-privacy 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_text-privacy div
{
   text-align: center;
   white-space: nowrap;
}
#wb_icon-update
{
   background-color: rgba(255,255,255,0.00);
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 6px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_icon-update:hover
{
   background-color: #228B22;
   background-image: none;
   border: 0px solid #228B22;
}
#icon-update
{
   height: 113px;
   width: 131px;
}
#icon-update i
{
   color: #228B22;
   display: inline-block;
   font-size: 113px;
   line-height: 113px;
   vertical-align: middle;
   width: 95px;
}
#wb_icon-update:hover i
{
   color: #FFFFFF;
}
#wb_text-update 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_text-update div
{
   text-align: center;
   white-space: nowrap;
}
#wb_icon-search
{
   background-color: rgba(255,255,255,0.00);
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 6px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_icon-search:hover
{
   background-color: #228B22;
   background-image: none;
   border: 0px solid #228B22;
}
#icon-search
{
   height: 102px;
   width: 162px;
}
#icon-search i
{
   color: #228B22;
   display: inline-block;
   font-size: 102px;
   line-height: 102px;
   vertical-align: middle;
   width: 93px;
}
#wb_icon-search:hover i
{
   color: #FFFFFF;
}
#wb_text-search 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_text-search div
{
   text-align: center;
   white-space: nowrap;
}
#wb_text-system 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #228B22;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_text-system div
{
   text-align: center;
   white-space: nowrap;
}
#Button1
{
   border: 1px solid #F05F40;
   border-radius: 4px;
   background-color: #F05F40;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 21px;
   margin: 25px 0px 50px 0px;
}
#wb_FontAwesomeIcon1
{
   background-color: rgba(255,255,255,0.00);
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 6px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon1:hover
{
   background-color: #228B22;
   background-image: none;
   border: 0px solid #228B22;
}
#FontAwesomeIcon1
{
   height: 102px;
   width: 131px;
}
#FontAwesomeIcon1 i
{
   color: #228B22;
   display: inline-block;
   font-size: 102px;
   line-height: 102px;
   vertical-align: middle;
   width: 129px;
}
#wb_FontAwesomeIcon1:hover i
{
   color: #FFFFFF;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text2 div
{
   text-align: center;
   white-space: nowrap;
}
#wb_header
{
   clear: both;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 7777;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#header
{
   box-sizing: border-box;
   padding: 20px 15px 20px 15px;
   margin-right: auto;
   margin-left: auto;
}
#header .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#header > .row > .col-1, #header > .row > .col-2, #header > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#header > .row > .col-1, #header > .row > .col-2, #header > .row > .col-3
{
   float: left;
}
#header > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 16.66666667%;
   text-align: right;
}
#header > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 66.66666667%;
   text-align: left;
}
#header > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 16.66666667%;
   text-align: left;
}
#header:before,
#header:after,
#header .row:before,
#header .row:after
{
   display: table;
   content: " ";
}
#header:after,
#header .row:after
{
   clear: both;
}
@media (max-width: 320px)
{
#header > .row > .col-1, #header > .row > .col-2, #header > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
.headerMenu .hide 
{
   display: none!important;
}
.headerMenu .show 
{
   display: block!important;
}
.headerMenu .hidden
{
   display: none!important;
   visibility: hidden!important;
}
.headerMenu .nav
{
   font-family: Arial;
   font-weight: bold;
   font-size: 15px;
   font-style: normal;
   color: #2B2B2B;
   text-align: left;
}
#headerMenu, .headerMenu .nav, .headerMenu *
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   line-height: 1;
   list-style: none;
}
.headerMenu .nav:before,
.headerMenu .nav:after 
{
   content: " ";
   display: table;
}
.headerMenu .nav:after 
{
   clear: both;
}
.headerMenu .nav a 
{
   text-decoration: none;
}
.headerMenu .nav ul
{
   margin-top: 0;
   margin-bottom: 10px;
}
.headerMenu .nav ul ul
{
   margin-bottom: 0;
}
.headerMenu .container 
{
   margin-right: auto;
   margin-left: auto;
   padding: 0;
}
.headerMenu .container:before,
.headerMenu .container:after 
{
   content: " ";
   display: table;
}
.headerMenu .container:after 
{
   clear: both;
}
.headerMenu .collapse 
{
   display: none;
}
.headerMenu .collapse.in 
{
   display: block;
}
.headerMenu .collapsing 
{
   position: relative;
   height: 0;
   overflow: hidden;
   -webkit-transition: height .35s ease;
   transition: height .35s ease;
}
.headerMenu .caret 
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   border-top: 4px solid #000;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
.headerMenu .dropdown 
{
   position: relative;
}
.headerMenu .dropdown-toggle:focus 
{
   outline: 0;
}
.headerMenu .dropdown-menu 
{
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   min-width: 160px;
   padding: 5px 0;
   margin: 2px 0 0;
   list-style: none;
   font-size: 15px;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid rgba(0,0,0,1.00);
   border-radius: 0px;
   background-clip: padding-box;
}
.headerMenu .dropdown-menu .divider 
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #000000;
}
.headerMenu .dropdown-menu>li>a 
{
   display: block;
   padding: 1px 20px 1px 20px;
   clear: both;
   line-height: 1.428571429;
   color: #2B2B2B;
   white-space: nowrap;
}
.headerMenu .dropdown-menu>li>a:hover,
.headerMenu .dropdown-menu>li>a:focus 
{
   text-decoration: none;
   color: #000000;
   background-color: #228B22;
   background-image: none;
}
.headerMenu .dropdown-menu>.active>a,
.headerMenu .dropdown-menu>.active>a:hover,
.headerMenu .dropdown-menu>.active>a:focus 
{
   color: #fff;
   text-decoration: none;
   outline: 0;
   background-color: #343A40;
}
.headerMenu .open>.dropdown-menu 
{
   display: block;
}
.headerMenu .open>a 
{
   outline: 0;
}
.headerMenu .dropdown-header 
{
   display: block;
   padding: 3px 20px;
   line-height: 1.428571429;
   color: #aeaeae;
}
.headerMenu .dropdown-backdrop 
{
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   z-index: 990;
}
.headerMenu .nav>li 
{
   position: relative;
   display: block;
}
.headerMenu .nav>li>a 
{
   position: relative;
   display: block;
   padding: 1px 15px 1px 15px;
}
.headerMenu .nav .open>a,
.headerMenu .nav .open>a:hover,
.headerMenu .nav .open>a:focus 
{
   background-color: #ccc;
   border-color: #343A40;
}
.headerMenu .nav .nav-divider 
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #000000;
}
.headerMenu .nav>li>a>img 
{
   max-width: none;
}
.headerMenu .nav .caret 
{
   border-top-color: #343A40;
   border-bottom-color: #343A40;
}
.headerMenu
{
   position: relative;
   border: 1px solid transparent;
   background-color: transparent;
   background-image: none;
}
.headerMenu:before,
.headerMenu:after 
{
   content: " ";
   display: table;
}
.headerMenu:after 
{
   clear: both;
}
.headerMenu .navbar-header:before,
.headerMenu .navbar-header:after 
{
   content: " ";
   display: table;
}
.headerMenu .navbar-header:after 
{
   clear: both;
}
.headerMenu-navbar-collapse 
{
   max-height: 340px;
   overflow-x: visible;
   -webkit-overflow-scrolling: touch;
}
.headerMenu-navbar-collapse:before,
.headerMenu-navbar-collapse:after 
{
   content: " ";
   display: table;
}
.headerMenu-navbar-collapse:after 
{
   clear: both;
}
.headerMenu-navbar-collapse.in 
{
   overflow-y: auto;
}
.headerMenu .navbar-toggle 
{
   position: relative;
   float: right;
   padding: 1px 10px 0px 10px;
   background-color: transparent;
   border: 1px solid transparent;
   border-radius: 0px;
}
.headerMenu .navbar-toggle .icon-bar 
{
   display: block;
   width: 22px;
   height: 2px;
   border-radius: 1px;
}
.headerMenu .navbar-toggle .icon-bar+.icon-bar 
{
   margin-top: 4px;
}
.headerMenu .navbar-nav 
{
   margin: 6px -15px;
}
.headerMenu .navbar-nav>li>.dropdown-menu 
{
   margin-top: 0;
   border-top-right-radius: 0;
   border-top-left-radius: 0;
}
.headerMenu .navbar-nav>li>a 
{
   color: #2B2B2B;
}
.headerMenu .navbar-nav>li>a:hover,
.headerMenu .navbar-nav>li>a:focus 
{
   background-color: #228B22;
   background-image: none;
   color: #000000;
   text-decoration: none;
}
.headerMenu .navbar-nav>.active>a,
.headerMenu .navbar-nav>.active>a:hover,
.headerMenu .navbar-nav>.active>a:focus 
{
   color: #000000;
   background-color: #228B22;
   background-image: none;
}
.headerMenu .navbar-toggle 
{
   border: 1px solid rgba(43,43,43,0.10);
}
.headerMenu .navbar-toggle:hover,
.headerMenu .navbar-toggle:focus 
{
   background-color: transparent;
}
.headerMenu .navbar-toggle .icon-bar 
{
   background-color: #4F4F4F;
}
.headerMenu-navbar-collapse
{
   border-color: rgba(0,0,0,1.00);
}
.headerMenu .navbar-nav>.dropdown>a:hover .caret,
.headerMenu .navbar-nav>.dropdown>a:focus .caret 
{
   border-top-color: #000000;
   border-bottom-color: #000000;
}
.headerMenu .navbar-nav>.open>a,
.headerMenu .navbar-nav>.open>a:hover,
.headerMenu .navbar-nav>.open>a:focus 
{
   background-color: #228B22;
   background-image: none;
   color: #000000;
}
.headerMenu .navbar-nav>.open>a .caret,
.headerMenu .navbar-nav>.open>a:hover .caret,
.headerMenu .navbar-nav>.open>a:focus .caret 
{
   border-top-color: #000000;
   border-bottom-color: #000000;
}
.headerMenu .navbar-nav>.dropdown>a .caret 
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.headerMenu .navbar-link 
{
   color: #2B2B2B;
}
.headerMenu .navbar-link:hover 
{
   color: #000000;
}
.headerMenu .navbar-header
{
   color: #4F4F4F;
   height: 19px;
}
@media (min-width: 480px) 
{
.headerMenu .navbar-right .dropdown-menu 
{
   right: 0;
   left: auto;
}
.headerMenu .navbar-header 
{
   float: left;
}
.headerMenu-navbar-collapse 
{
   width: auto;
   border-top: 0;
   box-shadow: none;
}
.headerMenu-navbar-collapse.collapse 
{
   display: block!important;
   height: auto!important;
   padding-bottom: 0;
   overflow: visible!important;
}
.headerMenu-navbar-collapse.in 
{
   overflow-y: auto;
}
.headerMenu .navbar-toggle
{
   display: none;
}
.headerMenu .navbar-nav 
{
   float: right;
   margin: 0;
}
.headerMenu .navbar-nav>li 
{
   float: left;
}
.headerMenu .container>.navbar-header,
.headerMenu .container>.headerMenu-navbar-collapse 
{
   margin-right: 0;
   margin-left: 0;
}
.headerMenu .navbar-nav>.dropdown>a:hover .caret,
.headerMenu .navbar-nav>.dropdown>a:focus .caret 
{
   border-top-color: #228B22;
   border-bottom-color: #228B22;
}
}
@media (max-width: 480px) 
{
.headerMenu 
{
   border-color: rgba(0,0,0,0.00);
}
.headerMenu .navbar-nav 
{
   margin: 0;
   background-color: #FFFFFF;
   background-image: none;
}
.headerMenu .navbar-nav .open .dropdown-menu 
{
   position: static;
   float: none;
   width: auto;
   margin-top: 0;
   background-color: transparent;
   border: 0;
   box-shadow: none;
}
.headerMenu .navbar-nav .open .dropdown-menu>li>a,
.headerMenu .navbar-nav .open .dropdown-menu .dropdown-header 
{
   padding: 5px 15px 5px 25px;
}
.headerMenu .navbar-nav .open .dropdown-menu>li>a 
{
   line-height: 20px;
}
.headerMenu .navbar-nav .open .dropdown-menu>li>a:hover,
.headerMenu .navbar-nav .open .dropdown-menu>li>a:focus 
{
   background-image: none;
}
}
@media (min-width: 480px) 
{
.headerMenu 
{
   background-color: transparent;
   background-image: none;
   border-color: rgba(0,0,0,0.00);
   border-radius: 0px;
}
.headerMenu .navbar-nav>li>a 
{
   color: #4F4F4F;
}
.headerMenu .navbar-nav>li>a:hover,
.headerMenu .navbar-nav>li>a:focus 
{
   color: #228B22;
   background-color: transparent;
   background-image: none;
}
.headerMenu .navbar-nav>.active>a,
.headerMenu .navbar-nav>.active>a:hover,
.headerMenu .navbar-nav>.active>a:focus 
{
   color: #228B22;
   background-color: transparent;
   background-image: none;
}
.headerMenu .navbar-nav>.open>a,
.headerMenu .navbar-nav>.open>a:hover,
.headerMenu .navbar-nav>.open>a:focus 
{
   background-color: transparent;
   background-image: none;
   color: #228B22;
}
.headerMenu .navbar-nav>.dropdown>a:hover .caret 
{
   border-top-color: #228B22;
   border-bottom-color: #228B22;
}
.headerMenu .navbar-nav>.dropdown>a .caret
{
   border-top-color: #4F4F4F;
   border-bottom-color: #4F4F4F;
}
.headerMenu .navbar-nav > li.active > a > .caret,
.headerMenu .navbar-nav > li.active > a:hover > .caret,
.headerMenu .navbar-nav > li.active > a:focus > .caret
{
   border-top-color: #228B22;
   border-bottom-color: #228B22;
}
.headerMenu .navbar-nav>.open>a .caret,
.headerMenu .navbar-nav>.open>a:hover .caret,
.headerMenu .navbar-nav>.open>a:focus .caret 
{
   border-top-color: #228B22;
   border-bottom-color: #228B22;
}
.headerMenu .navbar-link 
{
   color: #4F4F4F;
}
.headerMenu .navbar-link:hover 
{
   color: #fff;
}
}
#wb_Image2
{
   margin: 0;
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 50px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 80px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image1
{
   margin: 0;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 218px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_LayoutGrid8
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid8
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid8 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid8 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid8 > .row > .col-1
{
   float: left;
}
#LayoutGrid8 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: left;
}
#LayoutGrid8:before,
#LayoutGrid8:after,
#LayoutGrid8 .row:before,
#LayoutGrid8 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid8:after,
#LayoutGrid8 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid8 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#CmsSearch1
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   box-sizing: border-box;
   line-height: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
}
.searchresults
{
   padding: 2px 2px 2px 2px;
   list-style-position: inside;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   color: #000000;
}
.searchresults a
{
   color: #1A0DAB;
}
.searchresults li
{
   padding: 0px 0px 2px 0px;
}
